.App{
  min-height: 100vh;
  background-image: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  padding: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button{
  background:  burlywood;
}
.recipes {
  display: inline-flex;
  border: none;
  justify-content: space-around;
  
}
